@CHARSET "ISO-8859-1";

body {
	/*background-color: #fdf9bd;*/
	
	background-color: #fefce0;
	margin-top: 0px; margin-bottom: 0px; margin-left: 0px; margin-right: 0px;
	padding: 0px
}

h1 {
	margin: 0px;
	padding: 10px;
}

#top {
    position: relative;
    background-color: #FF9900;
    color: #804000;
    font-size: 36px;
    padding: 10px;
}


#left {
    float: left;
    /*padding: 5mm;*/
	position: relativ;
	/*min-height: 30em;*/
    background-color: #fceb1d;
}

#fieldLeftBottom {

	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #fceb1d), color-stop(1, #fefce0));
	background:-moz-linear-gradient(top, #fceb1d 5%, #fefce0 100%);
	background:-webkit-linear-gradient(top, #fceb1d 5%, #fefce0 100%);
	background:-o-linear-gradient(top, #fceb1d, #fdf9bd 100%);
	background:-ms-linear-gradient(top, #fceb1d 5%, #fefce0 100%);
	background:linear-gradient(to bottom,#fceb1d 5%, #fefce0 100%);
	background-color: #fceb1d;
	border: 0px;
	margin: 0px;
	height: 10em;
}
	
#fieldLeftBottom2 {	
	background-color:  #fefce0;
	border: 0px;
	margin: 0px;
	heigth: 5em;
	}
	
#content {
	/*background-color:  #fdf9bd;*/
	/*background-color: white;*/			
	padding: 0px 0px 0px 20px;
    position: relative;
	float: 	left;
	
}

#bottom {
	clear: both;
	background-color: #FF9900;
	color: white;
}

#belowBottom {
    clear: both;
	background-color: white;
	height: 100em
}

#leftLanePanelGrid {
	display: block;
	text-align: center;
}	


.messages {
	color: #d20005;
    font-family: 'New Century Schoolbook', serif;	    
    font-style: oblique;
    font-size: 16px;
}

.fieldset {
	/*display: inline-block;*/
	padding: 15px;
	margin: 30px 0px 0px 0px;
	box-shadow: 5px 5px 5px 0px #535763;
	
}

legend {
	font-size: 18px;
	font-weight: bold;
}

.loginGrid {
	vertical-align: top;
	
}
